.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */

* {
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    background-image: url(../images/landing_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100vh;
    
    img#logo {
        display: block;
        float: left;
        margin: 25px 0 0 25px;
        @media screen and (max-width: 1100px) {position: absolute; top: 0px; left: 10px; float: none; width: 100px;}
    }
    
    //MQ
    @media screen and (max-width: 1100px) {
        background-image: url();
    }
}

@mixin trns($prop, $time) {
    -webkit-transition: $prop $time;
    -o-transition: $prop $time;
    transition: $prop $time;
}

$blue_q: #2e79da;
$font-family: 'Heebo', sans-serif;
#mainContent {}

section.leftSide {
    width: 50%;
    float: left;
   
	#insider {
        clear: both;
        width: 60%;
        margin: 100px 100px 0 0;
        padding: 15px 15px 15px 15px;
		
		h2 {
			
			font-family: $font-family;
			padding: 4px 18px;
			background-color: orange;
			color: white;
		}
        
		h3 {
			font-family: $font-family;
			margin-bottom: 10px;
			padding: 4px 18px;
			background-color: $blue_q;
			color: white;
		}
        
		#amiram {
            width: 30%;
            float: left;

            @media screen and (max-width: 1100px) {
                display: none;
            }
        }
        p {
            color: white;
            float: right;
            font-family: $font-family;
            width: 65%;
			line-height: 24px;
			text-align: justify;
            @media screen and (max-width: 1100px) {color: #fff; width: 100%; }
        }
        @media screen and (max-width: 1100px) {width: 100%; box-sizing: border-box; margin: 0; background-color: #0c0c0c; color: #fff;}
    }
    @media screen and (max-width: 1100px) {width: 100%; float: none;}
}

#questions {
    width: 45%;
	font-weight: 300;
    padding: 40px 35px 45px 35px;
    float: right;
    background-color: #0c0c0c;
    height: 100vh;
    box-sizing: border-box;
    h2 {
        color: snow;
        font-family: $font-family;
        font-weight: 900;
        font-size: 1.14em;
        background-color: $blue_q;
        padding: 8px 18px 5px 5px;
        margin-top: 0px;
    }
    form#questioneere {
        direction: rtl;
        line-height: 23px;
        color: white;
        font-size: 16px;
        font-family: $font-family;
        text-align: right;
        margin-top: 30px;
    }
    li {
        margin-top: 10px;
        list-style: none;
    }
    li:last-child {
        margin-bottom: 50px;
    }
    input[name="name"],
    input[name="phone"],
    input[name="email"]{
        font-family: $font-family;
        display: block;
        margin: 10px 0;
        font-size: 18px;
        width: 60%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
    }
    
    ::-webkit-input-placeholder {color: #fff;}

    /* Firefox 18- */
    :-moz-placeholder {color: #fff;}

    /* Firefox 19+ */
    ::-moz-placeholder {color: #fff;}

    :-ms-input-placeholder {color: #fff;}
    
    input[type=radio] {
        margin-left: 3px;
        width: 25px;
        background: white;
        border: 2px solid yellow;
    }
    input[type=submit] {
        font-family: $font-family;
		font-weight: 900;
        outline: none;
        color: white;
        font-size: 18px;
        margin-top: 30px;
        border: none;
        padding: 5px 15px;
        background-color: $blue_q;
        @include trns(all, 0.3s);
        cursor: pointer;
        &:hover {
            background-color: darken($blue_q, 30%);
        }
    }

    @media screen and (max-width: 1100px) {
        width: 100%;
        box-sizing: border-box;
        float: none;
        padding-top: 90px;
    }
}